.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;
  --primary-color: #0232c2;
  --secondary-color: #0b59fc;
  --inverted-primary-color: #08c008;
  --inverted-secondary-color: #04ff04;
}
